#fundo { width:100%; height:600px; position:absolute; background: -webkit-gradient(linear, left top, left bottom, from(#FFF200), to(#FFF)) no-repeat; 	background: -moz-linear-gradient(top, #FFF200, #FFF); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#FFF200', EndColorStr='#FFF'); }
#fundo2 { width:100%; height:100%; position:absolute; background:#0174DF; }

input { width:100%; height:30px; border-bottom:1px solid #999; border-left:none; border-top:none; border-right:none; background:none; font-size:14px; outline:none; padding:5px 0 5px 0; }

#ir { width:100%; height:45px; background:#06C; border:none; text-align:center; color:#FFF; font-weight:bold; }
#ir1 { width:100%; height:45px; background:#F7FE2E; border:none; text-align:center; color:#005aa6; font-weight:bold; }

body{	padding: 0px; overflow:hidden; margin: 0px;	}

#box { width:95%; height:auto; max-width:400px; background:; margin:0 auto; }
@media (min-width: 768px){ #box { float:left; margin-left:10px; !important margin: 0; } }

#pro { width:95%; height:auto; max-width:400px; background:; margin:0 auto; position:relative; margin-top:20px; }
@media (min-width: 768px){ #pro{ margin-left:440px;	width:340px; !important	float:left; !important } }
@media (min-width: 860px){ #pro{ margin-right:440px; width:400px; !important float:left; !important } }
@media (min-width: 1024px){ #pro{ margin-right:440px; width:400px; !important float:left; !important } }

table { padding:0; margin:0; }

@media (min-width: 768px){ #ss { background:#FFF; !important } }

#botton-box { width:100%; height:40px; background:#FF0; position:fixed; bottom:0px; }

#botton-box-dentro { width:95%; height:auto; max-width:400px; background:; margin:0 auto; position:relative; }
@media (min-width: 768px){ #botton-box-dentro { float:left; !important } }
@media (min-width: 860px){ #botton-box-dentro { float:left; !important } }
@media (min-width: 1024px){ #botton-box-dentro { float:left; !important } }

#centro { width:100px; height:100px; position:absolute; top:45%; left:50%; margin-top:-50px; margin-left:-50px; }

.group 			  { 
	position:relative; 
	margin-bottom:10px; 

	top:5px;
}
.group input 				{
	font-size:10px;
	font-weight: bold;
	padding:5px 5px 0px 2px;
	display:block;
	width:100%;
	border:none;
	border-bottom:1px solid rgba(51,51,51, 0.3);

	background:none;

}
.group input:focus 		{ outline:none; color:rgba(51,51,51, 0.9); }

/* LABEL ======================================= */
.group label 				 {

	font-size:10px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:0px;
	top:15px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

/* active durum */
.group input:focus ~ label, input:valid ~ label 		{
	top:-5px;
	font-size:12px;
	
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
	content:'';
	height:1px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background:rgba(0,150,136, 0.9); 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
	
}
.bar:before {
	left:50%;
	
}
.bar:after {
	right:50%; 
	
}

/* active durum bar */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
	
	width:50%;
}


/* active durum */
.group input:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
	
}

/* form animasyon ================ */
@-webkit-keyframes inputHighlighter {
	from { background:rgba(51,51,51, 0.7); }
	to 	{ width:0; background:transparent; color:rgba(51,51,51, 0.9);}
	
}
@-moz-keyframes inputHighlighter {
	from { background:rgba(51,51,51, 0.7); color:rgba(51,51,51, 0.9);}
	to 	{ width:0; background:transparent; }
	
}
@keyframes inputHighlighter {
	from { background:rgba(51,51,51, 0.7); color:rgba(51,51,51, 0.9);}
	to 	{ width:0; background:transparent; }
	
}

.input-ikon{
	font-size:25px!important;
	position:relative;
	 
}

.input-sifre-ikon{
	font-size:22px!important;
	position:relative;

}

.span-input{
	margin-left:10px;
	position:relative;
	top:5px;
	
	
}







